<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="888c85">  <td>20/04/10 04:29:17</td>   <td>0</td> <td title="&gt;&gt;SetUp.SetUp()[pri:0, instance:drive.SetUp@1283bb96]">&gt;&gt;SetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1881561036</td>   <td></td> </tr>
<tr bgcolor="8da18f">  <td>20/04/10 04:29:34</td>   <td>16111</td> <td title="&gt;&gt;beforeWeStart.SetUp()[pri:0, instance:Base.beforeWeStart@74f0ea28]">&gt;&gt;SetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1881561036</td>   <td></td> </tr>
<tr bgcolor="80ba90">  <td>20/04/10 04:29:45</td>   <td>27749</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DriveTest.uploadFile()[pri:0, instance:drive.DriveTest@f6efaab]">uploadFile</td> 
  <td>main@1881561036</td>   <td></td> </tr>
</table>
