<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e0fea4">  <td>20/04/10 04:36:23</td>   <td>0</td> <td title="&gt;&gt;SetUp.SetUp()[pri:0, instance:drive.SetUp@4550bb58]">&gt;&gt;SetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="768fa9">  <td>20/04/10 04:36:44</td>   <td>21129</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DriveTest.uploadFile()[pri:0, instance:drive.DriveTest@4ec4f3a0]">uploadFile</td> 
  <td>main@678433396</td>   <td></td> </tr>
</table>
